{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{#<div class="form-group">#}
{#    <label>Select</label>#}
{#    <select class="form-control">#}
{#        <option>option 1</option>#}
{#        <option>option 2</option>#}
{#        <option>option 3</option>#}
{#        <option>option 4</option>#}
{#        <option>option 5</option>#}
{#    </select>#}
{#</div>#}