{% extends 'index.html.twig' %}

{% block title %}Redaguoti įrangos išdavimą{% endblock %}

{% block body %}
    <h1>Redaguoti įrangos išdavimą</h1>


<section>
    {{ include('equipment_handover/_form.html.twig', {'button_label': 'Išsaugoti'}) }}

    <div class="row">
        <div class="col-md-10">
            <div class="box box-primary">
                <div class="box-body">
                    <a class="btn btn-default" href="{{ path('equipment_handover_index') }}"><i
                                class="fas fa-long-arrow-alt-left"></i> Grįžti</a>
                    <div class="fa-pull-right">
                        {{ include('equipment_handover/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}
