{% extends 'index.html.twig' %}

{% block title %}Redaguoti įrangą{% endblock %}

{% block body %}
    <h1>Redaguoti įrangą</h1>

    <section>

        {{ include('equipment/_form.html.twig', {'button_label': 'Išsaugoti'}) }}

        <div class="row">
            <div class="col-md-10">
                <div class="box box-primary">
                    <div class="box-body">
                        <a class="btn btn-default" href="{{ path('equipment_index') }}"><i
                                    class="fas fa-long-arrow-alt-left"></i> Grįžti</a>
                        <div class="fa-pull-right">
                            {{ include('equipment/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
