{% extends 'index.html.twig' %}

{% block title %}Nauja įranga{% endblock %}

{% block body %}
    <h1>Nauja įranga</h1>
    <section class="content">

    {{ include('equipment/_form.html.twig') }}

        <div class="row">
            <div class="col-md-10">
                <div class="box box-primary">
                    <div class="box-body">
                        <a class="btn btn-default" href="{{ path('equipment_index') }}"><i
                                    class="fas fa-long-arrow-alt-left"></i> Grįžti</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
